.add {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add * {
  width: 20rem;
  height: 2rem;
  margin-bottom: 1rem;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
